body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0px;
    border: 0px;

}
/* estilos para los menus de los colores*/ 
#containerColors{
    width: 115px;
    background-color: rgba(59, 58, 58, 0);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    height:40px;
    align-items: center;
    top: 0px;
}
.minu{
    background-color: transparent;
    font-weight: 600;
    border: 3px solid  white;
    width: 75px;
    margin: 5px;
    height: 10px;
    position: absolute;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    border-radius: 3px;
    color: white;
}
.menu{
    width: 0;
}
#containerColors .menu {
display: none;
}
#containerColors:hover .menu{
    display: block;
    cursor: pointer;
}
ul {
    width: 100px;
    height: 134px;
    padding: 5px;
    list-style: none;
    border-radius: 2px;
    position: absolute;
    left: 35px;
    top: 30px;
    background-color: rgba(60, 16, 16, 0.305);
}
li{
    padding: 5px;
    border-radius: 3px;
    height: 20px;
    margin: 3px;
    text-align: center;
    background-color: rgb(29, 29, 29);
}
li:hover{
background-color: rgba(24, 24, 24, 0);
}
a{text-decoration: none;}

/*segundo menu de colores del bordes */
#containerColors2{
    width: 115px;
    background-color: rgba(167, 64, 64, 0);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    height:40px;
    align-items: center;
    top: 0px;
    left: 130px;
}
.minu2{
    background-color: transparent;
    font-weight: 600;
    border: 3px solid white;
    width: 75px;
    margin: 10px;
    height: 10px;
    position: absolute;
    text-align: center;
    left: 0px;
    padding: 10px;
    top: 0px;
    border-radius: 3px;
    padding-top: 5px;
    color: white;
}
.menu2{
    width: 0;
}
#containerColors2 .menu2{
    display: none;
}
#containerColors2:hover .menu2{
    display: block;
    cursor: pointer;
}
.ul2{
    width: 100px;
    height: 134px;
    padding: 5px;
    list-style: none;
    border-radius: 2px;
    position: absolute;
    left: 35px;
    top: 30px;
    background-color: rgba(71, 42, 42, 0.308);
}
a{
    color: white;
    background-color: transparent;
}
/*c*/
#app{
    background-color: rgba(222, 216, 216, 0);
    width: 70%;
    padding: 15px;
    height: 400px;
    margin: auto;
    margin-top: 90px;
    border: 3px solid rgb(255, 255, 255);
}
#value{
    padding: 20px;
    text-align: center;
    width: 94%;
    background-color: rgba(34, 133, 219, 0);
    font-size: 10rem;
    text-shadow: 3px 5px 6px rgba(255, 255, 255, 0);
    border: 3px solid white;
    margin-top: -8px;
}
.tasks-container{
    background-color: rgba(182, 72, 72, 0);
    width: 25%;
     
}
.addT{
    background-color: #dc416d00;
    position: relative;
    width: 200px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    left: 650px;
    top: 50px;
    color: white;
}
#addT-input{
    background-color: #dc416d00;
    position: relative;
    width: 100px;
    height: 30px;
    border: 3px solid white;
    left: 185px;
    top: 20px;
    text-align: right;
    font-weight: 600;
    padding: 5px;
    font-size: 30px;
    color: white;   
}
#addT-btn{
    background-color: #dc416d00;
    position: relative;
    width: 100px;
    height: 30px;
    border: 3px solid white;
    left: 75px;
    top: -10px;
    text-align: center;
    font-weight: 600;
    padding: 2px;
    font-size: 20px;
    color: white;   

}
#addT-btn:active{
    border: 3px solid gray;
    color: gray;
}
#taskName{
    border: 3px solid  rgb(255, 255, 255);
}
#itTask{
    width: 32%;
    height: 30px;
    background-color: rgba(243, 65, 65, 0);
    position: absolute;
    top: 478.5px;
    left: 34%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
}
#bAdd{
   width:  15%;
   height: 52.5px;
   position: absolute;
   top: 478.5px;
   left: 70%;
   font-size: 20px;
   border: 3px solid rgb(255, 255, 255);
   text-wrap: wrap;
   background-color: transparent;
   color: rgb(255, 255, 255);
}
#tasks{
    background-color: rgba(158, 2, 2, 0);
    width: 15%;
    height: 150px;
    position: absolute;
    left: 15.5%;
    top: 340px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    text-decoration: underline;
    border: 3px solid rgb(255, 255, 255);
}
.start-button{
    width: 75px;
    height: 45px;
    font-weight: 600;
    background-color: transparent;
    position: absolute;
    color:white; 
    font-size: 15px;
    left: 110%;
    top: 68px;
    border: 3px solid  rgba(125, 125, 125, 0.539);   
}
.done{
    position: absolute;
    top: 0px;
    left: 358%;
    width: 30%;
    padding: 5px;
    height: 25px;
    color:white  ; 
    font-size: 30px;
    background-color:transparent ;
}
#taskName{
    position: absolute;
    top: 356px;
    width: 350px;
    height: 60px;
    font-size: 25px;
    left: 34.5%;
    background-color: rgba(33, 132, 218, 0);
    text-align: center;
    text-decoration: underline;
}
#btnL{
    background-image: linear-gradient( 75deg, rgb(5, 185, 5) 0%, rgb(40, 40, 255));
    width: 100px;
    height: 50px;
    position: relative;
    left: 93%;
    padding: 10px;
    top: 30px;
    border-radius: 2px;
}

.white:active{
    background-color: white;
    color: black;
}
.black:active{
    background-color: rgb(0, 0, 0);
    color: white;
}
.blue:active{
    background-color: blue;
    color: white;
}
.pink:active{
    background-color: pink;
    color: black;
}
/**/
.whiteb:active{
    background-color: white;
    color: black;
}
.blackb:active{
    background-color: #DC416D;
    color: white;
}
.blueb:active{
    background-color:  #2E3669;
    color: white;
}
.pinkb:active{
    background-color:  #43E5E9;
    color: black;
}


@media screen and (min-width: 1700px){
        .minu{
        background-color: transparent;
        font-weight: 600;
        border: 3px solid  white;
        width: 90px;            
        margin: 5px;
        height: 15px;
        position: absolute;
        text-align: center;
        padding: 10px;
        padding-top: 5px;
        border-radius: 3px;
        color: white;
}
.minu2{
    background-color: transparent;
    font-weight: 600;
    border: 3px solid white;
    width: 90px;
    margin: 10px;
    height: 15px;
    position: absolute;
    text-align: center;
    left: 0px;
    padding: 10px;
    top: 0px;
    border-radius: 3px;
    padding-top: 5px;
    color: white;
}
    body{
        overflow-y: hidden;
    }
    #app{         
        background-color: #43E5E9;
        height: 650px;
        width: 90%;
    } 
    #value{
    font-size: 10rem;
    margin: auto;
    width: 95%;
    height: 150px;
    padding-top:5px;

    } 
    #itTask{/**/
       height: 55px;
       width: 45%; 
       top: 530px;
       left: 15%;
       font-size: 30px;
    }
    #btnL{
    width: 150px;
    height: 50px;
    padding: 20px;
    left: 95%;        
    }
    #addT-input{
    position: absolute;
    left:100%;
    }
    #addT-btn{ 
    position: absolute;
    padding: 10px;
    height: 50px;
    left: 1000px;
}
    #bAdd{
     top: 530px;
     left: 65.5%;  
     width: 22%;
     font-size: 20px;
     font-weight: 700;
     text-wrap: wrap; 
     height: 65px;
    }
    #tasks{/**/
        width: 25%;
        top: 312px;
        height:185px;
        left: 15%;
        text-wrap: wrap;
    }
    .start-button{
        padding: 5px;
        padding-top: 1px;
        left: 114%;
        top: 156px;
        width: 63%;
        height: 50px;
        font-size: 20px;
        overflow: hidden;
        text-wrap: wrap;
    }
    .done{
        position: asoloute;
        text-decoration: none;
        height: 25px;
        padding: 10px;
        left: 244%;
        top: 155px;
        font-weight: 800;
        
    }
    #taskName{
        top: 7px;
        left: 41%;
        font-size: 25px;
        width: 550px;
        height: 100px;
        position: relative;
        text-wrap: wrap;
        text-decoration: none;
    }
}
@media screen and (min-width: 1000px){
    body{
        overflow-y: hidden;
    }
    #app{
        height: 490px;
        width: 75%;
        
    } 
    #value{
    font-size: 10rem;
    margin: auto;
    width: 95%;
    height: 150px;
    padding-top:5px;

    } 
    #addT-input{
        left: 175px;
        padding: 10px;
        font-size: 45px;
    }
    #addT-btn{
        padding: 10px;
        height: 50px;
        font-size: 30px;
        left: 60px;
        top: -30px;
    }
    #btnL{
        left: 90%;
    }
    #itTask{
       height: 60px;
       width: 45%; 
       top: 540px;
       left: 12.5%;
       font-size:30px ;
    }
    #bAdd{
     top: 540px;
     left: 65.5%;  
     width: 22%;
     font-size: 30px;
     font-weight: 700;
     text-wrap: wrap; 
     height: 70px;
    }
    #tasks{
        width: 25%;
        top: 320px;
        height:180px;
        left: 12.5%;
        text-wrap: wrap;
        font-size: 20px;
    }
    .start-button{
        padding: 5px;
        padding-top: 1px;
        left: 110%;
        top: 155px;
        width: 63%;
        height: 50px;
        font-size: 20px;
        overflow: hidden;
        text-wrap: wrap;
        font-size: 25px;
    }
    .done{
        position: asoloute;
        text-decoration: none;
        height: 25px;
        padding: 10px;
        left: 244%;
        top: 100px;
        font-weight: 800;
        
    }
    #taskName{
        top: 7px;
        left: 41%;
        font-size: 25px;
        width: 420px;
        height: 100px;
        position: relative;
        text-wrap: wrap;
        text-decoration: none;
    }
}
@media screen and (max-width: 600px){

    body{
        overflow-x: hidden;
    }
    #app{
        height: 470px;
        width: 68%;
        width: 75%;
    } 
    #value{
    font-size: 6rem;
    margin-left: -14px;
    } 
    #itTask{
       height: 55px;
       width: 45%; 
       top: 530px;
       left: 12%;
    }
    #addT-input{
        width: 40px;
        top: 80px;
        left:-435px;
        height: 20px;
        padding: 6px;
        font-size: 25px;
    }
    #addT-btn{
        top: 60px;
        height: 44px;
        left: -550px;
        width: 50px;
        text-align: center;
        font-size: 15px;
    }
    #bAdd{
     top: 546px;
     left: 65%;  
     width: 22%;
     font-size: 14px;
     text-wrap: wrap; 
    }
    #btnL{
        left: 80%;
    }
    #tasks{
        width: 25%;
        top: 300px;
        height: 200px;
        left: 12%;
        text-wrap: wrap;
    }
    .start-button{
        padding: 2px;
        padding-top: 1px;
        left: 103%;
        top: 178px;
        width: 58%;
        font-size: 13px;
        overflow: hidden;
        text-wrap: wrap;
    }
    .done{
        position: absolute;
        text-decoration: none;
        height: 25px;
        left: 190%;
        top: 100px;
        font-weight: 600;
    }
    #taskName{
        top: 27px;
        left: 41%;
        text-decoration: underline;
        font-size: 25px;
        width: 180px;
        height: 90px;
        position: relative;
        
    }
}
 